* text=auto !eol
/INSTALL -text
/INSTALL.debian -text
/INSTALL.fedora -text
/INSTALL.freebsd -text
/LICENSE -text
/Rakefile -text
app/controllers/admin_controller.rb -text
app/controllers/application.rb -text
app/controllers/artist_controller.rb -text
app/controllers/comment_controller.rb -text
app/controllers/dmail_controller.rb -text
app/controllers/favorite_controller.rb -text
app/controllers/forum_controller.rb -text
app/controllers/help_controller.rb -text
app/controllers/note_controller.rb -text
app/controllers/pool_controller.rb -text
app/controllers/post_controller.rb -text
app/controllers/static_controller.rb -text
app/controllers/tag_alias_controller.rb -text
app/controllers/tag_controller.rb -text
app/controllers/tag_implication_controller.rb -text
app/controllers/user_controller.rb -text
app/controllers/user_record_controller.rb -text
app/controllers/wiki_controller.rb -text
app/helpers/admin_helper.rb -text
app/helpers/application_helper.rb -text
app/helpers/artist_helper.rb -text
app/helpers/comment_helper.rb -text
app/helpers/dmail_helper.rb -text
app/helpers/favorite_helper.rb -text
app/helpers/forum_helper.rb -text
app/helpers/invite_helper.rb -text
app/helpers/note_helper.rb -text
app/helpers/pool_helper.rb -text
app/helpers/post_helper.rb -text
app/helpers/report_helper.rb -text
app/helpers/static_helper.rb -text
app/helpers/tag_alias_helper.rb -text
app/helpers/tag_helper.rb -text
app/helpers/tag_implication_helper.rb -text
app/helpers/user_helper.rb -text
app/helpers/wiki_helper.rb -text
app/models/artist.rb -text
app/models/ban.rb -text
app/models/comment.rb -text
app/models/dmail.rb -text
app/models/favorite.rb -text
app/models/forum_post.rb -text
app/models/note.rb -text
app/models/note_version.rb -text
app/models/pool.rb -text
app/models/post.rb -text
app/models/post_tag_history.rb -text
app/models/tag.rb -text
app/models/tag_alias.rb -text
app/models/tag_implication.rb -text
app/models/user.rb -text
app/models/user_mailer.rb -text
app/models/user_record.rb -text
app/models/wiki_page.rb -text
app/models/wiki_page_version.rb -text
app/views/admin/cache_stats.rhtml -text
app/views/admin/edit_account.rhtml -text
app/views/admin/index.rhtml -text
app/views/admin/reset_password.rhtml -text
app/views/artist/add.rhtml -text
app/views/artist/delete.rhtml -text
app/views/artist/destroy.rjs -text
app/views/artist/edit.rhtml -text
app/views/artist/index.rhtml -text
app/views/artist/show.rhtml -text
app/views/comment/_comment.rhtml -text
app/views/comment/_comments.rhtml -text
app/views/comment/_footer.rhtml -text
app/views/comment/edit.rhtml -text
app/views/comment/index.rhtml -text
app/views/comment/moderate.rhtml -text
app/views/comment/show.rhtml -text
app/views/dmail/_compose.rhtml -text
app/views/dmail/_footer.rhtml -text
app/views/dmail/_message.rhtml -text
app/views/dmail/compose.rhtml -text
app/views/dmail/inbox.rhtml -text
app/views/dmail/show.rhtml -text
app/views/dmail/show_previous_messages.rhtml -text
app/views/favorite/index.rhtml -text
app/views/favorite/show.rhtml -text
app/views/favorite/show_atom.rxml -text
app/views/forum/_post.rhtml -text
app/views/forum/add.rhtml -text
app/views/forum/edit.rhtml -text
app/views/forum/index.rhtml -text
app/views/forum/search.rhtml -text
app/views/forum/show.rhtml -text
app/views/help/about.rhtml -text
app/views/help/api.rhtml -text
app/views/help/artists.rhtml -text
app/views/help/bookmarklet.rhtml -text
app/views/help/cheatsheet.rhtml -text
app/views/help/comments.rhtml -text
app/views/help/extension.rhtml -text
app/views/help/faq.rhtml -text
app/views/help/favorites.rhtml -text
app/views/help/forum.rhtml -text
app/views/help/index.rhtml -text
app/views/help/irc.rhtml -text
app/views/help/mass_tag_edit.rhtml -text
app/views/help/notes.rhtml -text
app/views/help/pools.rhtml -text
app/views/help/post_relationships.rhtml -text
app/views/help/posts.rhtml -text
app/views/help/ratings.rhtml -text
app/views/help/source_code.rhtml -text
app/views/help/start.rhtml -text
app/views/help/tag_aliases.rhtml -text
app/views/help/tag_implications.rhtml -text
app/views/help/tag_scripts.rhtml -text
app/views/help/tags.rhtml -text
app/views/help/trac.rhtml -text
app/views/help/users.rhtml -text
app/views/help/voting.rhtml -text
app/views/help/wiki.rhtml -text
app/views/layouts/bare.rhtml -text
app/views/layouts/default.rhtml -text
app/views/note/_footer.rhtml -text
app/views/note/_note.rhtml -text
app/views/note/history.rhtml -text
app/views/note/index.rhtml -text
app/views/note/search.rhtml -text
app/views/pool/_footer.rhtml -text
app/views/pool/add_post.rhtml -text
app/views/pool/create.rhtml -text
app/views/pool/destroy.rhtml -text
app/views/pool/import.rhtml -text
app/views/pool/import.rjs -text
app/views/pool/index.rhtml -text
app/views/pool/order.rhtml -text
app/views/pool/show.rhtml -text
app/views/pool/update.rhtml -text
app/views/post/_posts.rhtml -text
app/views/post/_search.rhtml -text
app/views/post/_tags.rhtml -text
app/views/post/atom.rhtml -text
app/views/post/delete.rhtml -text
app/views/post/deleted_index.rhtml -text
app/views/post/favorites.rhtml -text
app/views/post/index.rhtml -text
app/views/post/moderate.rhtml -text
app/views/post/popular_by_day.rhtml -text
app/views/post/popular_by_month.rhtml -text
app/views/post/popular_by_week.rhtml -text
app/views/post/show.rhtml -text
app/views/post/tag_history.rhtml -text
app/views/post/upload.rhtml -text
app/views/static/500.rhtml -text
app/views/static/index.rhtml -text
app/views/static/more.rhtml -text
app/views/static/terms_of_service.rhtml -text
app/views/tag/_alpha_paginator.rhtml -text
app/views/tag/_footer.rhtml -text
app/views/tag/cloud.rhtml -text
app/views/tag/edit.rhtml -text
app/views/tag/edit_preview.rhtml -text
app/views/tag/index.rhtml -text
app/views/tag/mass_edit.rhtml -text
app/views/tag/popular_by_day.rhtml -text
app/views/tag/popular_by_month.rhtml -text
app/views/tag/popular_by_week.rhtml -text
app/views/tag_alias/add.rhtml -text
app/views/tag_alias/index.rhtml -text
app/views/tag_implication/add.rhtml -text
app/views/tag_implication/index.rhtml -text
app/views/user/block_account.rhtml -text
app/views/user/change_password.rhtml -text
app/views/user/edit.rhtml -text
app/views/user/home.rhtml -text
app/views/user/index.rhtml -text
app/views/user/invites.rhtml -text
app/views/user/login.rhtml -text
app/views/user/logout.rhtml -text
app/views/user/reset_password.rhtml -text
app/views/user/show.rhtml -text
app/views/user/signup.rhtml -text
app/views/user_mailer/confirmation_email.rhtml -text
app/views/user_mailer/dmail.rhtml -text
app/views/user_mailer/new_password.rhtml -text
app/views/user_record/_footer.rhtml -text
app/views/user_record/create.rhtml -text
app/views/user_record/destroy.rhtml -text
app/views/user_record/index.rhtml -text
app/views/wiki/_footer.rhtml -text
app/views/wiki/_recently_revised.rhtml -text
app/views/wiki/_sidebar.rhtml -text
app/views/wiki/add.rhtml -text
app/views/wiki/diff.rhtml -text
app/views/wiki/edit.rhtml -text
app/views/wiki/history.rhtml -text
app/views/wiki/index.rhtml -text
app/views/wiki/recent_changes.rhtml -text
app/views/wiki/rename.rhtml -text
app/views/wiki/show.rhtml -text
config/boot.rb -text
config/core_extensions.rb -text
config/database.yml.example -text
config/default_config.rb -text
config/environment.rb -text
config/environments/development.rb -text
config/environments/production.rb -text
config/environments/test.rb -text
config/local_config.rb.example -text
config/routes.rb -text
db/migrate/001_add_post_links.rb -text
db/migrate/002_create_artists.rb -text
db/migrate/003_extend_post_tag_histories.rb -text
db/migrate/004_post_tag_history_constraints.rb -text
db/migrate/005_create_forum_post.rb -text
db/migrate/006_create_forum_posts.rb -text
db/migrate/007_add_spam_field_to_comments.rb -text
db/migrate/008_upgrade_forums.rb -text
db/migrate/009_add_last_seen_forum_post_date.rb -text
db/migrate/010_add_user_fields.rb -text
db/migrate/011_add_invites.rb -text
db/migrate/012_rename_invite_email_field.rb -text
db/migrate/013_drop_is_ambiguous_field_from_tags.rb -text
db/migrate/014_add_pending_to_aliases_and_implications.rb -text
db/migrate/015_rename_implication_fields.rb -text
db/migrate/016_add_forum_posts_user_views.rb -text
db/migrate/017_drop_last_seen_forum_post_date_from_users.rb -text
db/migrate/018_add_constraints_to_forum_posts_user_views.rb -text
db/migrate/019_add_id_to_forum_posts_user_views.rb -text
db/migrate/020_change_artists_a.rb -text
db/migrate/021_change_artists_b.rb -text
db/migrate/022_add_notes_to_artists.rb -text
db/migrate/023_add_updated_at_to_artists.rb -text
db/migrate/024_drop_extra_indexes_on_artists.rb -text
db/migrate/025_add_updater_id_to_artists.rb -text
db/migrate/026_add_ambiguous_field_to_tags.rb -text
db/migrate/027_add_response_count_to_forum.rb -text
db/migrate/028_add_image_resize_user_setting.rb -text
db/migrate/029_add_safe_post_count_to_tags.rb -text
db/migrate/030_add_invited_by_to_users.rb -text
db/migrate/031_create_news_updates.rb -text
db/migrate/032_forum_posts_fix_creator_id.rb -text
db/migrate/033_posts_add_is_flagged.rb -text
db/migrate/034_pools_create.rb -text
db/migrate/035_users_rename_password.rb -text
db/migrate/036_users_update_level.rb -text
db/migrate/037_users_add_created_at.rb -text
db/migrate/038_favorites_add_created_at.rb -text
db/migrate/039_posts_add_is_pending.rb -text
db/migrate/040_cleanup.rb -text
db/migrate/041_users_add_ip_addr.rb -text
db/migrate/042_note_versions_add_index_on_user_id.rb -text
db/migrate/043_flagged_posts_create.rb -text
db/migrate/044_forum_add_is_locked.rb -text
db/migrate/045_user_records_create.rb -text
db/migrate/046_posts_tags_add_foreign_keys.rb -text
db/migrate/047_posts_add_parent_id.rb -text
db/migrate/048_posts_add_has_children.rb -text
db/migrate/049_flagged_posts_drop_foreign_key.rb -text
db/migrate/050_posts_tags_fix_foreign_keys.rb -text
db/migrate/051_posts_drop_has_children.rb -text
db/migrate/052_flagged_posts_add_user_id.rb -text
db/migrate/053_convert_ip_text_to_inet.rb -text
db/migrate/054_posts_add_status.rb -text
db/migrate/055_add_full_text_search.rb -text
db/migrate/056_add_text_search_to_versions.rb -text
db/migrate/057_drop_post_count_triggers.rb -text
db/migrate/058_remove_notes_from_artists.rb -text
db/migrate/059_create_dmails.rb -text
db/migrate/060_add_receive_mails_to_users.rb -text
db/migrate/061_enhance_dmails.rb -text
db/migrate/062_create_bans.rb -text
db/migrate/063_add_blacklisted_tags_to_users.rb -text
db/migrate/064_remove_neighbor_constraints.rb -text
db/migrate/065_remove_yaml.rb -text
db/postgres.sql -text
lib/cache.rb -text
lib/danbooru_image_resizer/danbooru_image_resizer.bundle -text
lib/danbooru_image_resizer/danbooru_image_resizer.c -text
lib/danbooru_image_resizer/danbooru_image_resizer.so -text
lib/danbooru_image_resizer/extconf.rb -text
lib/danbooru_image_similarity/danbooru_image_similarity.c -text
lib/danbooru_image_similarity/extconf.rb -text
lib/danbooru_image_similarity/gheap.c -text
lib/danbooru_image_similarity/gheap.h -text
lib/danbooru_image_similarity/test.sh -text
lib/html_4_tags.rb -text
lib/login_system.rb -text
lib/memcache_util_store.rb -text
lib/tasks/rollback.rake -text
public/404.html -text
public/500.html -text
public/dispatch.cgi -text
public/dispatch.fcgi -text
public/dispatch.rb -text
public/favicon.ico -text
public/images/404.jpg -text
public/images/500.jpg -text
public/images/activity.gif -text
public/images/down.jpg -text
public/images/nl.png -text
public/javascripts/application.js -text
public/javascripts/bookmarklet.js -text
public/javascripts/builder.js -text
public/javascripts/comment.js -text
public/javascripts/common.js -text
public/javascripts/controls.js -text
public/javascripts/cookie.js -text
public/javascripts/dmail.js -text
public/javascripts/dragdrop.js -text
public/javascripts/effects.js -text
public/javascripts/favorite.js -text
public/javascripts/forum.js -text
public/javascripts/notes.js -text
public/javascripts/pool.js -text
public/javascripts/post.js -text
public/javascripts/post_mode_menu.js -text
public/javascripts/prototype.js -text
public/javascripts/related_tags.js -text
public/javascripts/scriptaculous.js -text
public/javascripts/slider.js -text
public/javascripts/sound.js -text
public/javascripts/unittest.js -text
public/javascripts/user_record.js -text
public/maintenance2.html -text
public/robots.txt -text
public/stylesheets/default.css -text
script/about -text
script/benchmarker -text
script/breakpointer -text
script/build_application_js -text
script/console -text
script/console_sandbox -text
script/destroy -text
script/generate -text
script/performance/benchmarker -text
script/performance/profiler -text
script/plugin -text
script/process/inspector -text
script/process/reaper -text
script/process/spawner -text
script/process/spinner -text
script/profiler -text
script/runner -text
script/server -text
script/spin -text
test/mocks/test/not_a_img.jpg -text
test/mocks/test/test.jpg -text
test/test_helper.rb -text
vendor/image_size.rb -text
vendor/plugins/exception_notification/README -text
vendor/plugins/exception_notification/init.rb -text
vendor/plugins/exception_notification/lib/exception_notifiable.rb -text
vendor/plugins/exception_notification/lib/exception_notifier.rb -text
vendor/plugins/exception_notification/lib/exception_notifier_helper.rb -text
vendor/plugins/exception_notification/views/exception_notifier/_backtrace.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_environment.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_inspect_model.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_request.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_session.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_title.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/exception_notification.rhtml -text
vendor/plugins/html5sanitizer/init.rb -text
vendor/plugins/html5sanitizer/lib/html5sanitizer.rb -text
vendor/plugins/redhillonrails_core/CHANGELOG -text
vendor/plugins/redhillonrails_core/MIT-LICENSE -text
vendor/plugins/redhillonrails_core/README -text
vendor/plugins/redhillonrails_core/init.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/base.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/abstract_adapter.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/column.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/foreign_key_definition.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/index_definition.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/mysql_adapter.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/mysql_column.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/postgresql_adapter.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/schema_statements.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/connection_adapters/table_definition.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/schema.rb -text
vendor/plugins/redhillonrails_core/lib/red_hill_consulting/core/active_record/schema_dumper.rb -text
