* text=auto !eol
/INSTALL -text
/LICENSE -text
/Rakefile -text
app/controllers/admin_controller.rb -text
app/controllers/api_controller.rb -text
app/controllers/application.rb -text
app/controllers/artist_controller.rb -text
app/controllers/comment_controller.rb -text
app/controllers/forum_controller.rb -text
app/controllers/invite_controller.rb -text
app/controllers/note_controller.rb -text
app/controllers/post_controller.rb -text
app/controllers/static_controller.rb -text
app/controllers/tag_alias_controller.rb -text
app/controllers/tag_controller.rb -text
app/controllers/tag_implication_controller.rb -text
app/controllers/user_controller.rb -text
app/controllers/wiki_controller.rb -text
app/helpers/account_helper.rb -text
app/helpers/admin_helper.rb -text
app/helpers/application_helper.rb -text
app/helpers/artist_helper.rb -text
app/helpers/comment_helper.rb -text
app/helpers/forum_post_helper.rb -text
app/helpers/invite_helper.rb -text
app/helpers/note_helper.rb -text
app/helpers/post_helper.rb -text
app/helpers/static_helper.rb -text
app/helpers/tag_alias_helper.rb -text
app/helpers/tag_helper.rb -text
app/helpers/tag_implication_helper.rb -text
app/helpers/wiki_helper.rb -text
app/models/artist.rb -text
app/models/comment.rb -text
app/models/forum_post.rb -text
app/models/forum_post_view.rb -text
app/models/invite.rb -text
app/models/note.rb -text
app/models/note_version.rb -text
app/models/post.rb -text
app/models/post_tag_history.rb -text
app/models/tag.rb -text
app/models/tag_alias.rb -text
app/models/tag_implication.rb -text
app/models/user.rb -text
app/models/user_mailer.rb -text
app/models/wiki_page.rb -text
app/models/wiki_page_version.rb -text
app/views/admin/cache_stats.rhtml -text
app/views/admin/edit_account.rhtml -text
app/views/admin/index.rhtml -text
app/views/admin/settings.rhtml -text
app/views/api/find_comments.rxml -text
app/views/api/find_posts.rxml -text
app/views/api/find_tag_history.rxml -text
app/views/api/find_tags.rxml -text
app/views/api/find_wiki.rxml -text
app/views/artist/add.rhtml -text
app/views/artist/edit.rhtml -text
app/views/artist/index.rhtml -text
app/views/artist/show.rhtml -text
app/views/comment/_comments.rhtml -text
app/views/comment/_comments_for_post.rhtml -text
app/views/comment/edit.rhtml -text
app/views/comment/index.rhtml -text
app/views/comment/moderate.rhtml -text
app/views/comment/show.rhtml -text
app/views/forum/_post.rhtml -text
app/views/forum/add.rhtml -text
app/views/forum/edit.rhtml -text
app/views/forum/index.rhtml -text
app/views/forum/show.rhtml -text
app/views/invite/activate.rhtml -text
app/views/layouts/bare.rhtml -text
app/views/layouts/default.rhtml -text
app/views/note/_note.rhtml -text
app/views/note/history.rhtml -text
app/views/note/index.rhtml -text
app/views/post/_posts.rhtml -text
app/views/post/_search.rhtml -text
app/views/post/_tags.rhtml -text
app/views/post/atom.rxml -text
app/views/post/create.rhtml -text
app/views/post/favorites.rhtml -text
app/views/post/index.rhtml -text
app/views/post/popular_by_day.rhtml -text
app/views/post/popular_by_month.rhtml -text
app/views/post/popular_by_week.rhtml -text
app/views/post/show.rhtml -text
app/views/post/tag_history.rhtml -text
app/views/post/upload.rhtml -text
app/views/static/500.rhtml -text
app/views/static/index.rhtml -text
app/views/static/more.rhtml -text
app/views/static/redirect.rhtml -text
app/views/tag/_alpha_paginator.rhtml -text
app/views/tag/_footer.rhtml -text
app/views/tag/aliases.rhtml -text
app/views/tag/cloud.rhtml -text
app/views/tag/edit.rhtml -text
app/views/tag/edit_preview.rhtml -text
app/views/tag/implications.rhtml -text
app/views/tag/index.rhtml -text
app/views/tag/mass_edit.rhtml -text
app/views/tag/popular_by_day.rhtml -text
app/views/tag/popular_by_month.rhtml -text
app/views/tag/popular_by_week.rhtml -text
app/views/tag/search.rhtml -text
app/views/tag_alias/_footer.rhtml -text
app/views/tag_alias/index.rhtml -text
app/views/tag_implication/_footer.rhtml -text
app/views/tag_implication/index.rhtml -text
app/views/user/edit.rhtml -text
app/views/user/favorites.rhtml -text
app/views/user/favorites_atom.rxml -text
app/views/user/home.rhtml -text
app/views/user/invites.rhtml -text
app/views/user/login.rhtml -text
app/views/user/logout.rhtml -text
app/views/user/reset_password.rhtml -text
app/views/user/signup.rhtml -text
app/views/user_mailer/new_invite.rhtml -text
app/views/user_mailer/new_password.rhtml -text
app/views/wiki/_recently_revised.rhtml -text
app/views/wiki/_sidebar.rhtml -text
app/views/wiki/diff.rhtml -text
app/views/wiki/edit.rhtml -text
app/views/wiki/history.rhtml -text
app/views/wiki/index.rhtml -text
app/views/wiki/rename.rhtml -text
app/views/wiki/show.rhtml -text
config/boot.rb -text
config/core_extensions.rb -text
config/database.yml.example -text
config/default_config.rb -text
config/environment.rb -text
config/environments/development.rb -text
config/environments/production.rb -text
config/environments/test.rb -text
config/local_config.rb.example -text
config/mongrel.yml -text
config/routes.rb -text
db/ja_dict.sql.bz2 -text
db/migrate/001_add_post_links.rb -text
db/migrate/002_create_artists.rb -text
db/migrate/003_extend_post_tag_histories.rb -text
db/migrate/004_post_tag_history_constraints.rb -text
db/migrate/005_create_forum_post.rb -text
db/migrate/006_create_forum_posts.rb -text
db/migrate/007_add_spam_field_to_comments.rb -text
db/migrate/008_upgrade_forums.rb -text
db/migrate/009_add_last_seen_forum_post_date.rb -text
db/migrate/010_add_user_fields.rb -text
db/migrate/011_add_invites.rb -text
db/migrate/012_rename_invite_email_field.rb -text
db/migrate/013_drop_is_ambiguous_field_from_tags.rb -text
db/migrate/014_add_pending_to_aliases_and_implications.rb -text
db/migrate/015_rename_implication_fields.rb -text
db/migrate/016_add_forum_posts_user_views.rb -text
db/migrate/017_drop_last_seen_forum_post_date_from_users.rb -text
db/migrate/018_add_constraints_to_forum_posts_user_views.rb -text
db/migrate/019_add_id_to_forum_posts_user_views.rb -text
db/migrate/020_change_artists_a.rb -text
db/migrate/021_change_artists_b.rb -text
db/migrate/022_add_notes_to_artists.rb -text
db/migrate/023_add_updated_at_to_artists.rb -text
db/migrate/024_drop_extra_indexes_on_artists.rb -text
db/migrate/025_add_updater_id_to_artists.rb -text
db/migrate/026_add_ambiguous_field_to_tags.rb -text
db/migrate/027_add_response_count_to_forum.rb -text
db/migrate/028_add_image_resize_user_setting.rb -text
db/migrate/029_add_safe_post_count_to_tags.rb -text
db/postgres.sql -text
doc/README_FOR_APP -text
doc/app/classes/AccountController.html -text
doc/app/classes/AccountHelper.html -text
doc/app/classes/AdminController.html -text
doc/app/classes/AdminHelper.html -text
doc/app/classes/ApiController.html -text
doc/app/classes/ApplicationController.html -text
doc/app/classes/ApplicationHelper.html -text
doc/app/classes/Arch.html -text
doc/app/classes/Artist.html -text
doc/app/classes/ArtistController.html -text
doc/app/classes/ArtistHelper.html -text
doc/app/classes/Comment.html -text
doc/app/classes/CommentController.html -text
doc/app/classes/CommentHelper.html -text
doc/app/classes/Enumerable.html -text
doc/app/classes/ForumController.html -text
doc/app/classes/ForumPost.html -text
doc/app/classes/ForumPostHelper.html -text
doc/app/classes/LoginSystem.html -text
doc/app/classes/Note.html -text
doc/app/classes/NoteController.html -text
doc/app/classes/NoteHelper.html -text
doc/app/classes/NoteVersion.html -text
doc/app/classes/Post.html -text
doc/app/classes/PostController.html -text
doc/app/classes/PostHelper.html -text
doc/app/classes/PostTagHistory.html -text
doc/app/classes/StaticController.html -text
doc/app/classes/StaticHelper.html -text
doc/app/classes/Tag.html -text
doc/app/classes/TagAlias.html -text
doc/app/classes/TagController.html -text
doc/app/classes/TagHelper.html -text
doc/app/classes/TagImplication.html -text
doc/app/classes/User.html -text
doc/app/classes/User/AlreadyFavoritedError.html -text
doc/app/classes/WikiController.html -text
doc/app/classes/WikiHelper.html -text
doc/app/classes/WikiPage.html -text
doc/app/classes/WikiPageVersion.html -text
doc/app/created.rid -text
doc/app/files/app/controllers/account_controller_rb.html -text
doc/app/files/app/controllers/admin_controller_rb.html -text
doc/app/files/app/controllers/api_controller_rb.html -text
doc/app/files/app/controllers/application_rb.html -text
doc/app/files/app/controllers/artist_controller_rb.html -text
doc/app/files/app/controllers/comment_controller_rb.html -text
doc/app/files/app/controllers/forum_controller_rb.html -text
doc/app/files/app/controllers/note_controller_rb.html -text
doc/app/files/app/controllers/post_controller_rb.html -text
doc/app/files/app/controllers/static_controller_rb.html -text
doc/app/files/app/controllers/tag_controller_rb.html -text
doc/app/files/app/controllers/wiki_controller_rb.html -text
doc/app/files/app/helpers/account_helper_rb.html -text
doc/app/files/app/helpers/admin_helper_rb.html -text
doc/app/files/app/helpers/application_helper_rb.html -text
doc/app/files/app/helpers/artist_helper_rb.html -text
doc/app/files/app/helpers/comment_helper_rb.html -text
doc/app/files/app/helpers/forum_post_helper_rb.html -text
doc/app/files/app/helpers/note_helper_rb.html -text
doc/app/files/app/helpers/post_helper_rb.html -text
doc/app/files/app/helpers/static_helper_rb.html -text
doc/app/files/app/helpers/tag_helper_rb.html -text
doc/app/files/app/helpers/wiki_helper_rb.html -text
doc/app/files/app/models/artist_rb.html -text
doc/app/files/app/models/comment_rb.html -text
doc/app/files/app/models/forum_post_rb.html -text
doc/app/files/app/models/note_rb.html -text
doc/app/files/app/models/note_version_rb.html -text
doc/app/files/app/models/post_rb.html -text
doc/app/files/app/models/post_tag_history_rb.html -text
doc/app/files/app/models/tag_alias_rb.html -text
doc/app/files/app/models/tag_implication_rb.html -text
doc/app/files/app/models/tag_rb.html -text
doc/app/files/app/models/user_rb.html -text
doc/app/files/app/models/wiki_page_rb.html -text
doc/app/files/app/models/wiki_page_version_rb.html -text
doc/app/files/doc/README_FOR_APP.html -text
doc/app/files/lib/arch_rb.html -text
doc/app/files/lib/login_system_rb.html -text
doc/app/files/lib/withindex_rb.html -text
doc/app/fr_class_index.html -text
doc/app/fr_file_index.html -text
doc/app/fr_method_index.html -text
doc/app/index.html -text
doc/app/rdoc-style.css -text
lib/arch.rb -text
lib/cache.rb -text
lib/login_system.rb -text
lib/memcache_util_store.rb -text
lib/persistent_hash.rb -text
lib/resizer/Makefile -text
lib/resizer/resizer -text
lib/resizer/resizer.c -text
lib/romanizer.rb -text
lib/withindex.rb -text
public/404.html -text
public/500.html -text
public/dispatch.cgi -text
public/dispatch.fcgi -text
public/dispatch.rb -text
public/dtd/pools.dtd -text
public/dtd/posts.dtd -text
public/dtd/tags.dtd -text
public/dtd/wiki.dtd -text
public/images/404.jpg -text
public/images/500.jpg -text
public/images/activity.gif -text
public/images/down.jpg -text
public/images/nl.png -text
public/javascripts/builder.js -text
public/javascripts/common.js -text
public/javascripts/controls.js -text
public/javascripts/dragdrop.js -text
public/javascripts/effects.js -text
public/javascripts/notes.js -text
public/javascripts/prototype.js -text
public/javascripts/scriptaculous.js -text
public/javascripts/slider.js -text
public/robots.txt -text
public/stylesheets/default.css -text
script/about -text
script/benchmarker -text
script/breakpointer -text
script/console -text
script/console_sandbox -text
script/destroy -text
script/dump_sqlite -text
script/fix_tags -text
script/generate -text
script/performance/benchmarker -text
script/performance/profiler -text
script/plugin -text
script/process/inspector -text
script/process/reaper -text
script/process/spawner -text
script/process/spinner -text
script/profiler -text
script/runner -text
script/server -text
script/spin -text
test/mocks/test/not_a_img.jpg -text
test/mocks/test/test.jpg -text
test/test_helper.rb -text
test/unit/user_mailer_test.rb -text
vendor/image_size.rb -text
vendor/plugins/exception_notification/README -text
vendor/plugins/exception_notification/init.rb -text
vendor/plugins/exception_notification/lib/exception_notifiable.rb -text
vendor/plugins/exception_notification/lib/exception_notifier.rb -text
vendor/plugins/exception_notification/lib/exception_notifier_helper.rb -text
vendor/plugins/exception_notification/views/exception_notifier/_backtrace.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_environment.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_inspect_model.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_request.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_session.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/_title.rhtml -text
vendor/plugins/exception_notification/views/exception_notifier/exception_notification.rhtml -text
vendor/plugins/image_store/README -text
vendor/plugins/image_store/Rakefile -text
vendor/plugins/image_store/init.rb -text
vendor/plugins/image_store/install.rb -text
vendor/plugins/image_store/lib/image_store.rb -text
vendor/plugins/image_store/tasks/image_store_tasks.rake -text
vendor/plugins/image_store/test/image_store_test.rb -text
vendor/plugins/image_store/uninstall.rb -text
vendor/plugins/votable/init.rb -text
vendor/plugins/votable/lib/votable.rb -text
